.div-copertine {
  margin: 10% auto;
}

.col-4, .copertina {
  height: auto;
}

.copertina {
  margin: 10px;
  /* display: inline-block; */
}

.copertine {
  width: 100%;
  /* display: block; */
}

.overlay {
  text-align: center;
  position: relative;
  height: auto;
  transition: transform .2s;
  /* Animation */
}

.overlay:hover {
  background-color: #fff;
  opacity: 0.7;
  transform: scale(1.05);
}

.fa-spotify {
  position: absolute;
  font-size: 1000%;
  padding-top: 25%;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  transition-duration: .5s;
  color: #fff;
}

.fa-spotify:hover {
  color: #fff;
  opacity: 0.9;
}
