body {
  /* background-image: linear-gradient(#004445, #2C7873); */
  background-image: url(images/sfondo.jpg);
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
}

h2 {
  color: #FFCC29;
  font-size: 4vw;
}

#title {
  text-align: center;
  padding: 0 10% 10%;
}

.navbar {
  position: absolute;
  right: 0;
}

.socialdiv {
  /* right: 0;
  position: absolute;
  padding-top: 8%; */
  position: relative;
  padding-bottom: 0;
  width: 100%;
}

.social {
  font-size: 2.5vw;
  color: #FFCC29;
  transition-duration: 1s;
}

.fb:hover {
  color: #4267B2;
}

.ig:hover {
  animation: 2s multicolor;
  color: #FFCC29;
}

@keyframes multicolor {
  0% {
    color: #405DE6;
  }

  11% {
    color: #5B51D8;
  }

  22% {
    color: #833AB4;
  }

  33% {
    color: #C13584;
  }

  44% {
    color: #E1306C;
  }

  55% {
    color: #FD1D1D;
  }

  66% {
    color: #F56040;
  }

  77% {
    color: #F77737;
  }

  88% {
    color: #FCAF45;
  }

  100% {
    color: #FFCC29;
  }
}

.yt:hover {
  color: #FF0000;
}

.nav-item {
  margin-right: 3vw;
  margin-left: 3vw;
}

.main {
  margin-top: 20%;
  margin-bottom: 20%;
}

.album {
  text-align: right;
}

.artist {
  text-align: center;
}

.copertina {
  width: 70%;
  border-radius: 1%;
  transition: transform .5s;
  /* Animation */
}

.copertina:hover {
  transform: scale(1.1);
}

.testo-principale {
  font-family: 'Dancing Script', cursive;
  font-size: 8vw;
  color: #FFCC29;
}

#videoBG {
  position: absolute;
  z-index: -1;
  /*not work if the screen ratio is below 16/9*/
  width: 100%;
  height: auto;
}

#media {
  text-align: center;
  padding: 10% auto;
}

.div-copertine {
  margin: 10% auto 10%;
}

.col-4, .copertina {
  height: auto;
}

.copertina {
  margin: 0 auto;
  /* display: inline-block; */
}

.copertine {
  width: 100%;
  /* display: block; */
}

.spotify {
  width: 80%;
}

.overlay {
  text-align: center;
  position: relative;
  height: auto;
  transition: transform .2s;
  /* Animation */
}

.overlay:hover {
  /* background-color: #fff; */
  /* opacity: 0.8; */
  transform: scale(1.05);
}

.fa-spotify {
  position: absolute;
  font-size: 1000%;
  padding-top: 25%;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  transition-duration: .5s;
  color: #fff;
}

.fa-spotify:hover {
  color: #fff;
  opacity: 0.7;
}

#footer {
  background-color: #052F00;
  margin-top: 10%;
}

.foot {
  margin-top: 10%;
}

.copyright {
  text-align: center;
  text-decoration: none;
  color: #FFCC29;
  font-size: 1rem;
  font-family: 'Dancing Script';
  margin-bottom: 0;
  padding-top: 3%;
  padding-bottom: 2%;
}

@media (max-width: 992px) {
  .testo-artista {
    margin: 10% auto 20%;
  }

  .testo-principale {
    font-size: 14vw;
    position: relative;
    bottom: 20%;
    margin-bottom: 0;
    line-height: 1.2;
    display: inline-block;
    margin-right: 3%;
  }

  h2 {
    font-size: 8vw;
  }

  .album {
    text-align: center;
    margin-top: 5vw;
  }

  .copertina {
    width: 80%;
  }

  .spotify {
    width: 50%;
    margin-top: 10%;
  }

  .fa-spotify {
    font-size: 20vw;
  }

  .social {
    font-size: 5vw;
  }

  .copyright {
    font-size: 2.5vw;
  }
}
