body {
  /* background-image: linear-gradient(#004445, #2C7873); */
  background-image: url(images/sfondo.jpg);
  min-height: 100vh;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
}

h2 {
  color: #FFCC29;
  font-size: 4vw;
}

#title {
  text-align: center;
  padding: 0 10% 10%;
}

.socialdiv {
  position: absolute;
  right: 0;
  padding-top: 8%;
  padding-bottom: 0;
}

.social:hover {
  color: #F58634;
}

.social {
  font-size: 2.5vw;
  color: #FFCC29;
  transition-duration: 1s;

}

.fb:hover {
  color: #4267B2;
}

.ig:hover {
  animation: 2s multicolor;
}

@keyframes multicolor {
    0% {
        color: #405DE6;
    }
    11% {
        color: #5B51D8;
    }
    22% {
        color: #833AB4;
    }
    33% {
        color: #C13584;
    }
    44% {
        color: #E1306C;
    }
    55% {
        color: #FD1D1D;
    }
    66% {
        color: #F56040;
    }
    77% {
        color: #F77737;
    }
    88% {
        color: #FCAF45;
    }
    100% {
        color: #FFDC80;
    }
}

.yt:hover {
  color: #FF0000;
}

.nav-item {
  margin-right: 3vw;
  margin-left: 3vw;
}

.main {
  margin-top: 14vw;
  padding-bottom: 20%;
}

.album {
  text-align: right;
}

.artist {
  text-align: center;
}

.copertina {
  width: 70%;
  border-radius: 1%;
  transition: transform .5s; /* Animation */
}

.copertina:hover {
  transform: scale(1.1);
}

.testo-principale {
  font-family: 'Dancing Script', cursive;
  font-size: 8vw;
  color: #FFCC29;
}

#videoBG {
  position: absolute;
  z-index: -1;
  /*not work if the screen ratio is below 16/9*/
  width: 100%;
  height: auto;
}

#media {
  text-align: center;
  padding: 10% auto;
}


.div-copertine {
  margin: 10% auto;
}

.col-4, .copertina {
  height: auto;
}

.copertina {
  margin: 0 auto;
  /* display: inline-block; */
}

.copertine {
  width: 100%;
  /* display: block; */
}

.overlay {
  text-align: center;
  position: relative;
  height: auto;
  transition: transform .2s;
  /* Animation */
}

.overlay:hover {
  background-color: #fff;
  opacity: 0.7;
  transform: scale(1.05);
}

.fa-spotify {
  position: absolute;
  font-size: 1000%;
  padding-top: 25%;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  transition-duration: .5s;
  color: #fff;
}

.fa-spotify:hover {
  color: #fff;
  opacity: 0.9;
}
